<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alertView添加block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>640FDB771BCB93F80040D020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640FDB901BCB93F80040D020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640FDB9B1BCB93F80040D020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
